*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-height: calc(80vh - 10rem);
}
.btn {
    text-transform: uppercase;
    background: #ab7a5f;
    color: black;
    padding: .375rem .75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 400;
    transition: all .3s linear;
    font-size: .875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;
    border-color: transparent;
}

.section {
    padding: 32px 0 !important;
    background-color: white;
}
@media (min-width: 992px)
{
.product-center {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    align-items: center;
}
}
.product-center {
    display: grid;
    gap: 4rem;
    margin-top: 2rem;
}
@media (min-width: 992px) {
.gbgfMs .main {
    height: 500px;
}}
.gbgfMs img {
    width: 100%;
    display: block;
    border-radius: var(--radius);
    object-fit: cover;
    height: 75px;
}
.gbgfMs .gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}
.btjemE {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.btjemE span {
    color: rgb(255, 185, 0);
    font-size: 1rem;
    margin-right: 0.25rem;
}
.btjemE p {
    margin-left: 0.5rem;
    margin-bottom: 0px;
}
@media (min-width: 992px)
{
.guKkvw .price {
    font-size: 1.25rem;
}
}
.guKkvw .price {
    color: #ab7a5f;
}
.guKkvw .desc {
    line-height: 2;
    max-width: 45em;
}
.guKkvw .info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 125px 1fr;
}
.guKkvw .info span {
    font-weight: 700;
}
.jbJDWL {
    margin-top: 2rem;
}
.jbJDWL .colors {
    display: grid;
    grid-template-columns: 125px 1fr;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1rem;
}
.jbJDWL .colors span {
    text-transform: capitalize;
    font-weight: 700;
}
.jbJDWL .btn-container {
    margin-top: 2rem;
}
.dXWCyY {
    display: flex !important;
    flex-flow: row wrap;
    width: 140px  !important;
}
.dXWCyY h2 {
    margin-bottom: 0px;
    padding: 0 30px;
}
.dXWCyY button {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 1rem 0px;
    width: 2rem;
    height: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.jbJDWL .btn {
    color: black !important;
    margin-top: 1rem;
    width: 140px;
}
.div-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }