/* .row {
  width: 1200px;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}
.onesp {
  width: 350;
  height: 200px;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}
.onesp img {
  width: 250px;
  height: 175px;
}
.bigtitle {
  height: 100%;
  box-sizing: border-box;
  width: 1000px;
  display: flex;
} */
.hSaKRS button {
  display: block;
  margin: 0.25em 0px;
  padding: 0.25rem 0px;
  text-transform: capitalize;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid transparent;
  letter-spacing: 0.1rem;
  color: #617d98;
  cursor: pointer;
}
.hSaKRS .color-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(34, 34, 34);
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.hSaKRS .colors {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.hSaKRS .clear-btn {
  background: #bb2525;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.page {
  min-height: calc(80vh - 10rem);
}
@media (min-width: 768px)
{
.kCQmsc .products {
    grid-template-columns: 200px 1fr;
}


.kCQmsc .products {
    display: grid;
    gap: 3rem 1.5rem;
    margin: 4rem auto;
}
}
@media (min-width: 768px)
{
.hSaKRS .content {
    position: sticky;
    top: 1rem;
}
}
.hSaKRS .form-control {
  margin-bottom: 1.25rem;
  border: none;
}
.hSaKRS .search-input {
  padding: 0.5rem;
  background: #f1f5f8;
  border-radius: 0.25rem;
  border-color: transparent;
  letter-spacing: 0.1rem;
}
.hSaKRS .form-control h5 {
  margin-bottom: 0.5rem;
}
.hSaKRS .company {
  background: #f1f5f8;
  border-radius: 0.25rem;
  border-color: transparent;
  padding: 0.25rem;
}
.hSaKRS .price {
  margin-bottom: 0.25rem;
}
.hSaKRS .shipping {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
  text-transform: capitalize;
  column-gap: 0.5rem;
  font-size: 1rem;
}
@media (min-width: 1170px)
{
.iDhzRL .products-container {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (min-width: 992px)
{
.iDhzRL .products-container {
    grid-template-columns: repeat(2, 1fr);
}
}

.iDhzRL .products-container {
    display: grid;
    gap: 2rem 1.5rem;
}
article {
  display: block;
}
.containerss {
  position: relative;
  background: 222;
  border-radius: 0.25rem;
}
img {
  height: 175px;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}
footer {
  margin-top: 1rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
footer h5{
  margin-bottom: 17px;
  font-weight: 400;
}

@media screen and (min-width: 800px)
{
h5 {
  font-size: 1rem;
}
}
footer p {
  color: #ab7a5f;
  letter-spacing: 0.1rem;
}
.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ab7a5f;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: all 0.3s linear;
  opacity: 0;
  cursor: pointer;
}
.link svg {
  font-size: 1.25rem;
  color: fff;
}


a {
  text-decoration: none;
}