.section {
  width: 100%;
  background-color: #eaded7;
  height: 100%;
  margin-top: 40px;
}
h2 {
  text-align: left;
}

.kGntgQ {
  background: #eaded7;
  width: 100%;
  min-height: 20vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #453227;
}
.kGntgQ a {
  color: #795744;
  padding: 0.5rem;
  transition: all 0.3s linear;
}

a {
  text-decoration: none;
}
.navbar-brand {
  margin-right: 12px;
  font-size: 26px;
  letter-spacing: 5px;
}
.cart-value {
  position: absolute;
  top: 9px;
  right: 127px;
  background: #ab7a5f;
  width: 16px;
  height: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  color: #fff;
  padding: 12px;
}
