.section {
  width: 100%;
  background-color: #eaded7;
  height: 100%;
  margin-top: 40px;
}
h2 {
  text-align: left;
}

.kGntgQ {
  background: #eaded7;
  width: 100%;
  min-height: 20vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #453227;
}
.kGntgQ a {
  color: #795744;
  padding: 0.5rem;
  transition: all 0.3s linear;
}


a {
  text-decoration: none;
}